ignore-files/
package-lock.json
node_modules/
fontawesome-5.12.0-web/
indexsInd.html
styleNw.scss
styleNw.css
styleOld.scss
styleOld.css
style0.css
style0.scss
style200417.css
style200417.scss
style.scssLatest.css
style.scssLatest.scss
.vscode/
IFstyle.css
style200928.css
style200928.scss
style201024.css
style201024.scss
style20201028.css
style20201028.scss
style20201102.css
style20201102.scss
styleOld20201030.css
styleOld20201030.scss
stylePreOp.css
stylePreOp.scss

