package-lock.json
node_modules/
fontawesome-5.12.0-web/
indexsSvg.html
indexsInd.html
styleNw.scss
styleNw.css
styleOld.scss
styleOld.css
git-diff.html
mediaQuaries.txt
style0.css
style0.scss
style200417.css
style200417.scss
style.scssLatest.css
style.scssLatest.scss
