* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify; }

body {
  width: fit-content; }
  body .grid-container {
    background-image: url(./img/backgrounds/photo-of-green-and-white-plant-3117174.jpg);
    display: grid;
    grid-gap: 2.5vw;
    padding: 3vw;
    padding-bottom: 1.5vw;
    grid-template-areas: "navbar" "show" "main" "SideBar1" "SideBar2" "SideBar3" "footer"; }
    body .grid-container h1, body .grid-container h2, body .grid-container h3 {
      text-align: center;
      font-variant-caps: all-petite-caps;
      font-weight: 400; }
    body .grid-container h1, body .grid-container h2 {
      padding: 2vw 1vw 1vw 1vw; }
    body .grid-container .navbar {
      grid-area: navbar; }
    body .grid-container .show {
      grid-area: show;
      margin: auto; }
      body .grid-container .show h1 {
        background-color: darkolivegreen;
        color: gainsboro;
        margin-bottom: 0;
        border-radius: 1vw 1vw 0vw 0vw; }
      body .grid-container .show .carousel {
        width: 460px;
        height: 345px; }
        body .grid-container .show .carousel .carousel-inner {
          height: inherit;
          border-radius: 0vw 0vw 1vw 1vw; }
          body .grid-container .show .carousel .carousel-inner .carousel-item {
            height: inherit;
            background-repeat: no-repeat;
            background-size: contain; }
    body .grid-container .main, body .grid-container .SideBar1, body .grid-container .SideBar2, body .grid-container .SideBar3, body .grid-container .footer {
      padding-bottom: 3.5vw;
      border-radius: 1vw; }
    body .grid-container .main {
      grid-area: main;
      background-color: #58a32d; }
    body .grid-container .SideBar1 {
      grid-area: SideBar1;
      background-color: #7cbd57; }
    body .grid-container .SideBar2 {
      grid-area: SideBar2;
      background-color: #69c037; }
    body .grid-container .SideBar3 {
      grid-area: SideBar3;
      background-color: #5cbe24; }
    body .grid-container .footer {
      padding-bottom: 1vw;
      grid-area: footer;
      background-color: #2b471b; }
      body .grid-container .footer h2 {
        justify-self: center; }

@media only screen and (min-width: 548px) {
  body .grid-container {
    background-color: 0;
    grid-template-areas: "navbar navbar navbar" "show show show" "main main main" "SideBar1 SideBar2 SideBar3" "footer footer footer"; } }
