// Variables -----------------------
$bg-color: #92e094;
$color: rgba(12, 12, 12, 0.904);
$main-font:'Arial';
$container: 960px;
$primary-color: #62d6666e;
$light-color: rgba(118, 216, 98, 0.3);
$dark-color: rgba(32, 61, 26, 0.5);
$bg-image: url(./img/backgrounds/photo-of-green-and-white-plant-3117174.jpg);
$img1: url(./img/foods/close-up-photo-of-cake-3026809.jpg);
$img2: url(./img/foods/french-fries-with-dipping-sauce-1893556.jpg);
$img3: url(./img/foods/vegetable-salad-3026808.jpg);
// Elements
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  background-image: $bg-image;
  color: $color;
  font-family: $main-font;
  text-align: center;
}

header,
container,
footer,
#content,
.SideBar,
.main-nav {
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem;
  background: $primary-color;
  text-align: justify;
}

header,
h1 {
  text-align: center;
}

footer {
  color: whitesmoke;
  background-color: rgba(12, 12, 12, 0.904);
}
.main-nav {
  padding: 0 0;
}

div {
  margin: auto;

  h1 {
    display: block;
  }

  // ul { margin-bottom: 0;}
  li {
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
  }

  #content {
    background-color: $light-color;
    padding: 1em;
  }

}

a {
  text-decoration: none;
}

// Ids
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#SideBar1 {
  background-color: rgba(172, 255, 47, 0.5);
}

#SideBar2 {
  background-color: rgba(50, 119, 62, 0.5);
}

// Classes
