@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
:root {
  --background: rgba(85, 84, 84, 0.95);
  --backgroundTest: rgba(223, 93, 93, 0.85);
  --bg-image: url(assets/img/backgrounds/photo-of-green-and-white-plant-3117174.jpg);
  --bg-imageSMALL: url(assets/img/backgrounds/SMALLphoto-of-green-and-white-plant-3117174.jpg); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-imageSMALL);
  background-repeat: no-repeat;
  width: fit-content;
  text-align: justify; }

header {
  background: var(--background);
  position: fixed;
  z-index: 999;
  width: 100%; }
  header .logo {
    padding: 1em;
    vertical-align: middle; }

nav {
  position: absolute;
  text-align: center;
  background-color: inherit;
  left: 15%;
  width: 70%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  margin: auto;
  background: var(--background); }
  nav .hrefList {
    list-style: none;
    margin-bottom: .4em; }
  nav .hrefs {
    padding: 0.1em 1em;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out; }
    nav .hrefs:hover {
      color: white;
      font-weight: 500; }

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1); }
    .nav-toggle:checked ~ nav .hrefs {
      opacity: 1;
      transition: opacity 400ms ease-in-out 400ms; }
  .nav-toggle:checked ~ .nav-toggle-label {
    background-color: rgba(0, 0, 0, 0.397); }

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0.5em;
  margin: 2em 2em 0 0;
  height: 36%;
  display: flex;
  align-items: center;
  padding: 0.2em;
  background-color: inherit; }
  .nav-toggle-label .burgerMenu::before {
    color: black; }
  .nav-toggle-label .burgerMenu,
  .nav-toggle-label .burgerMenu::before,
  .nav-toggle-label .burgerMenu::after {
    display: block;
    background: white;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative; }
  .nav-toggle-label .burgerMenu::before,
  .nav-toggle-label .burgerMenu::after {
    content: '';
    position: absolute; }
  .nav-toggle-label .burgerMenu::before {
    bottom: 9px; }
  .nav-toggle-label .burgerMenu::after {
    top: 9px; }

.grid-container {
  width: 100%;
  position: relative;
  display: grid;
  padding-top: 6.5rem;
  grid-gap: 2.25vw;
  grid-template-areas: "show" "main" "artical1" "artical2" "artical3" "footer"; }
  .grid-container .show {
    position: relative;
    grid-area: show;
    width: 94vw;
    padding: 2rem 1rem;
    margin: 2rem 1rem; }
    .grid-container .show #carouselExampleIndicators {
      background-color: #343a40; }
      .grid-container .show #carouselExampleIndicators .carousel-inner {
        border-radius: .25rem .25rem 0 0;
        position: relative;
        width: 100%;
        overflow: hidden;
        top: 0px; }
        .grid-container .show #carouselExampleIndicators .carousel-inner .carousel-item {
          text-align: -webkit-center; }
          .grid-container .show #carouselExampleIndicators .carousel-inner .carousel-item .scene {
            padding: 1rem;
            perspective: 999px; }
            .grid-container .show #carouselExampleIndicators .carousel-inner .carousel-item .scene .radio-group {
              text-align: center; }
      .grid-container .show #carouselExampleIndicators .carousel-control {
        border-radius: 0 0 .25rem .25rem;
        background-color: #343a40;
        height: 2rem;
        width: 100%; }
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-prev,
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-next {
          position: inherit;
          height: 2rem;
          bottom: 12px;
          z-index: 1;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 10%;
          color: #fff;
          text-align: center;
          opacity: .5;
          transition: opacity .15s ease; }
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-prev {
          float: left; }
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-indicators {
          margin: 4px 0;
          width: 80%;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 15;
          display: -ms-flexbox;
          display: inline-flex;
          -ms-flex-pack: center;
          justify-content: center;
          padding-left: 0;
          list-style: none;
          position: relative; }
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-next {
          float: right; }
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-prev:hover,
        .grid-container .show #carouselExampleIndicators .carousel-control .carousel-control-next:hover {
          color: #fff;
          text-decoration: none;
          outline: 0;
          opacity: .9; }
      .grid-container .show #carouselExampleIndicators .pause-cycle-button {
        background-color: var(--background);
        padding: 0.15rem 1rem;
        border-radius: 0.25rem;
        margin: auto;
        width: fit-content; }
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized {
          width: 2rem;
          height: 2rem;
          padding: 0;
          background: #fff;
          border: 0;
          border-radius: 50%;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 400;
          color: #555;
          line-height: 2rem;
          box-shadow: none; }
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized:hover,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized:active,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized:focus,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized:active:focus,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn-customized.active:focus,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn.btn-primary:not(:disabled):not(.disabled):active,
        .grid-container .show #carouselExampleIndicators .pause-cycle-button .btn.btn-primary:not(:disabled):not(.disabled):active:focus {
          outline: 0;
          background: #ccc;
          background: rgba(255, 255, 255, 0.5);
          border: 0;
          color: #555;
          box-shadow: none; }
  .grid-container .box {
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    transition: transform 1s; }
  .grid-container .box .show-front {
    transform: translateZ(0px) rotateY(0deg); }
  .grid-container .box .show-back {
    transform: translateZ(0px) rotateY(-180deg); }
  .grid-container .box .show-right, .grid-container .box .show-top {
    transform: translateZ(0px) rotateY(-90deg); }
  .grid-container .box .show-left, .grid-container .box .show-bottom {
    transform: translateZ(0px) rotateY(90deg); }
  .grid-container .box__face {
    position: absolute;
    border: 2px solid black;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 300px;
    height: 300px;
    line-height: 300px; }
  .grid-container .box__face--right, .grid-container .box__face--left {
    left: 100px; }
  .grid-container .box__face--top, .grid-container .box__face--bottom {
    top: 50px; }
  .grid-container .box__face--front {
    background: rgba(255, 0, 0, 0.7); }
  .grid-container .box__face--right {
    background: rgba(255, 255, 0, 0.7); }
  .grid-container .box__face--back {
    background: rgba(0, 255, 0, 0.7); }
  .grid-container .box__face--left {
    background: rgba(0, 255, 255, 0.7); }
  .grid-container .box__face--top {
    background: rgba(0, 0, 255, 0.7); }
  .grid-container .box__face--bottom {
    background: rgba(255, 0, 255, 0.7); }
  .grid-container .box__face--front {
    transform: rotateY(0deg) translate(150px, 150px, 150px); }
  .grid-container .box__face--back {
    transform: rotateY(180deg) translateZ(150px); }
  .grid-container .box__face--right {
    transform: rotateY(90deg) translateZ(50px); }
  .grid-container .box__face--left {
    transform: rotateY(-90deg) translateZ(250px); }
  .grid-container .box__face--top {
    transform: rotateX(90deg) translateZ(200px); }
  .grid-container .box__face--bottom {
    transform: rotateX(-90deg) translateZ(100px); }
  .grid-container .main {
    grid-area: main;
    background-color: rgba(65, 99, 24, 0.94); }
  .grid-container .artical1 {
    grid-area: artical1;
    background-color: rgba(85, 129, 32, 0.94); }
  .grid-container .artical2 {
    grid-area: artical2;
    background-color: rgba(89, 151, 14, 0.94); }
  .grid-container .artical3 {
    grid-area: artical3;
    background-color: rgba(110, 192, 9, 0.94); }
  .grid-container .footer {
    grid-area: footer; }

@media screen and (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 0.25fr; }
    header .nav-toggle-label {
      display: none; }
    header nav {
      /* the following lines are not from my video, but add Edge support */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1, 1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header nav ul {
        display: flex; }
        header nav ul li {
          margin-left: 3em;
          margin-bottom: 0; }
          header nav ul li a {
            opacity: 1;
            position: relative; }
          header nav ul li a::before {
            content: '';
            display: block;
            height: 5px;
            background: black;
            position: absolute;
            top: -.75em;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transition: transform ease-in-out 250ms; }
          header nav ul li a:hover::before {
            transform: scale(1, 1); } }

h1,
h2,
h3 {
  color: #080808;
  text-align: center;
  text-shadow: 1px 1px 2px white, 0 0 25px #7373a7, 0 0 5px #095f23; }

h1 {
  margin: 0.7rem 0; }

h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; }

ul {
  margin-bottom: .65em; }

p::first-letter {
  font-weight: 800;
  font-size: xx-large; }
