// Variables -----------------------
$light-color: rgba(133, 231, 171, 0.8);
$bg-image: url(./img/backgrounds/photo-of-green-and-white-plant-3117174.jpg);
$height: 50vh;
$min-height: 350px;

// -----------------------------------------
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: $bg-image;
  background-size: cover;
  font-size: 2.5vw;
	color: #080808;
	font-family: "Arial";
  border-radius: 1.4rem;
  .grid-container {
    display: grid;
    .show {
      grid-area: show;
      height: auto;
      width: 50vw;
      margin: auto;
    }
    .main {
      grid-area: main;
      height: auto;
    }
    .SideBar1 {
      grid-area: SideBar1;
    }
    .SideBar2 {
      grid-area: SideBar2;
    }
    .footer {
      grid-area: footer;
    }
    grid-template-areas: 
      "show show show show"
      "main main main SideBar1"
      "main main main SideBar2"
      "footer footer footer footer";
    grid-gap: 2rem;
    padding: 2rem;
    margin: auto;
    border-radius: 0.4rem;
    
    background-color: rgba(29, 68, 22, 0.5);
    h1, h2, h3 {
      text-align: center;
      text-shadow: -4px 4px 7px white;
      font-size: 4vw;
    }
    .show {
      max-width: 940px;
      h1 {
        background-color: #0e610e;
        border-radius: 0.4rem  0.4rem 0rem 0rem;
        margin-bottom: 0rem;
      }
      // carousel
      .carousel {
        position: relative;
        height: 600px;
        width: auto;
        margin: 0 auto;
        #carouselExampleIndicators {
          ol.carousel-indicators {
            margin: 0 auto;
            li {
              height: 10px;
              width: 10px;
              margin: 0 4px;
              border-radius: 50%;
            }
          }
          
        }
        .carousel-inner {
          height: 100%;
          border-radius: 0rem 0rem 0.4rem 0.4rem;
          .carousel-item {
            height: 100%;
          }
        }
        .carousel-control-prev, .carousel-control-next {
          width: 5%;
          .carousel-control-prev-icon, .carousel-control-next-icon {
            border-radius: 50%;
            background-color: rgb(16, 104, 23); 
            width: 4rem;
            height: 2rem;
          }
        }
        .carousel-control-prev {
          left: -3rem;
        }
        .carousel-control-next {
          right: -3rem;
        }
        
        .carousel-item {
          height: $height;
          min-height: $min-height;
          background: no-repeat center center scroll;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          .carousel-caption {
            text-align: center;
            padding: 0rem;
            .display-4 {
              color: black;
            }
          }
        }
      }
    }// end .show
    .main {
      background-color: $light-color;
      grid-area: main;
      border-radius: 0.4rem;
    }
    .SideBar1 {
      background-color: rgba(172, 255, 47, 0.7);
      grid-area: SideBar1;
      border-radius: 0.4rem;
    }
    .SideBar2 {
      background-color: rgba(50, 119, 62, 0.7);
      grid-area: SideBar2;
      border-radius: 0.4rem;
      padding-bottom: 1rem;
    }
    .footer {
      grid-area: footer;
    }
    div {
      text-align: justify;
      div {padding-bottom: 1 rem;}
    }
  }// .grid-container end
}// body end
                      
@media (max-width: 866px) {
  body {
    .grid-container {
      grid-template-areas: 
        "show show show show"
        "main main main main"
        "SideBar1 SideBar1 SideBar2 SideBar2"
        "footer footer footer footer";
    }
  }// body end
}
@media (max-width: 559px) {
  body {
    .grid-container {
      grid-template-areas: 
        "show show"
        "main main"
        "SideBar1 SideBar1"
        "SideBar2 SideBar2"
        "footer footer";
    }
  }// body end
}