// Variables -----------------------
$light-color: rgba(133, 231, 171, 0.8);
$bg-image: url(./img/backgrounds/photo-of-green-and-white-plant-3117174.jpg);
$height: 345px;
$width: 460px;

// -----------------------------------------
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}
body {
  width: fit-content;
  .grid-container {
    background-image: $bg-image;
    h1,h2,h3 {
      text-align: center;
      font-variant-caps: all-petite-caps;
      font-weight: 400;
    }
    h1,h2 {
      padding: 2vw 1vw 1vw 1vw;
    }
    display: grid;
    grid-gap: 2.5vw;
    padding: 3vw;
    padding-bottom: 1.5vw;
    .navbar{
      grid-area: navbar;
      
    }
    .show {
      grid-area: show;
      margin: auto;
      h1 {
        background-color: darkolivegreen;
        color: gainsboro;
        margin-bottom: 0;
        border-radius: 1vw 1vw 0vw 0vw;
      }
      .carousel {
        
        width: $width;
        height: $height;
        .carousel-inner {
          height: inherit;
          border-radius: 0vw 0vw 1vw 1vw;
          .carousel-item {
            height: inherit;
            background-repeat: no-repeat;
            background-size: contain;          
          }//carousel-item
        }//carousel-inner

      }//carousel
    }//show
    .main, .SideBar1, .SideBar2, .SideBar3, .footer {
      padding-bottom: 3.5vw;
      border-radius: 1vw;
    }
    .main {
      grid-area: main;
      background-color:  #58a32d;
    }//main
    // .row {
    // }//row
    .SideBar1 {
      grid-area: SideBar1;
      background-color:  #7cbd57;
    }//SideBar1
    .SideBar2 {
      grid-area: SideBar2;
      background-color:  #69c037;
    }//SideBar2
    .SideBar3 {
      grid-area: SideBar3;
      background-color:  #5cbe24;
    }//SideBar3
    .footer {
      padding-bottom: 1vw;
      grid-area: footer;
      background-color:  #2b471b;
      h2 {
        justify-self: center;
      }
    }//footer
    grid-template-areas: 
    "navbar"
    "show"
    "main"
    "SideBar1"
    "SideBar2"
    "SideBar3"
    "footer";
  }//.grid-container
}//body

@media only screen and (min-width: 548px) {
  body {
    .grid-container {
      background-color: blue($color: #000000);
      grid-template-areas: 
        "navbar navbar navbar"
        "show show show"
        "main main main"
        "SideBar1 SideBar2 SideBar3"
        "footer footer footer";
    }//.grid-container
  }//body
  
}